@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/IranSans/IRANSansWeb\(FaNum\).ttf");
}

:root {
    --bg-color-900: #f4f5f8;
    --bg-color-100: #ffffff;
    --text-black-900: #050d18;
    --text-gray-700: #777;
    --bg-color-star: #FFD600;
    --font-family: "IRANSansWeb";
    --nav-color: #a8a9b4;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    line-height: 2;
    font-family: var(--font-family);
    font-weight: 400;
    display: block;
    align-items: center;
    justify-content: center;
    background: url(../img/Frame\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/* =========================
            Header           
============================ */

.header-area {
    position: fixed;
    background: transparent;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0px 20px 0px 20px;
    height: 80px;
    border-radius: 20px;
    transition: 0.3s background;
    z-index: 99;
}

.header-area .navbar {
    padding: 20px 25px;
}

.fixed {
    opacity: 0;
    transform: translateY(-50%);
}

.header-area .navbar .navbar-brand {
    color: var(--bg-color-100);
}

/* ---- active ---- */

.active {
    transition: all 0.4s ease-in-out;
    background: var(--bg-color-100);
    padding: 5px 0;
    box-shadow: 0 8px 6px -9px #999;
    opacity: 1;
    transform: none;
}

.active .navbar .offcanvas .navbar-nav li a .bx {
    color: var(--text-black-900);
}

.active .navbar .navbar-brand {
    color: var(--text-black-900);
}

.active .offcanvas-body .navbar-nav>li>.nav-link {
    color: var(--text-black-900);
}

.active .navbar-collapse .navbar-nav>li>.nav-link:hover {
    color: var(--skin-color);
}

/* ------- */

.header-area .navbar-brand {
    font-size: 33px;
    text-decoration: none;
    margin-right: 2px;
    color: var(--text-black-900);
}

.header-area .navbar-brand .fa-gg {
    font-size: 35px;
    margin-left: 5px;
    color: var(--skin-color);
    vertical-align: middle;
}

.header-area .navbar-nav>li {
    padding: 0 6px;
}

.header-area .navbar-nav>li>.nav-link {
    position: relative;
    color: var(--bg-color-100);
    padding: 0 5px;
    font-size: 17px;
    line-height: 35px;
    font-weight: 500;
    margin: 0 13px;
}

.header-area .navbar-nav>li>.nav-link:hover {
    color: var(--skin-color);
}

.header-area .navbar-nav>li>.nav-link:hover .bx-chevron-down {
    color: var(--skin-color);
}

.header-area .navbar-nav .nav-link:hover:after {
    width: 100%;
    left: 0%;
}

.header-area .navbar-nav>li>.nav-link:after {
    content: "";
    pointer-events: none;
    bottom: -8px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2.3px;
    background-color: var(--skin-color);
    transition-duration: 500ms;
    transition-property: width, left;
}

/* --------------- */

.login-button {
    background-color: var(--skin-color);
    color: var(--bg-color-100);
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    opacity: 0.8;
}

.btn-close {
    margin-right: 100px;
}

@media (max-width: 992px) {
    .header-area .navbar-nav>li>.nav-link {
        color: var(--text-black-900);
    }
    .header-area .offcanvas-header .navbar-brand {
        color: var(--text-black-900);
    }
    .header-area .navbar-brand {
        text-align: right;
    }
    .header-area .navbar-nav>li>.nav-link:after {
        display: none;
    }
    .offcanvas .offcanvas-header {
        border-bottom: 1px solid var(--text-gray-700);
    }
    .offcanvas .offcanvas-header .btn-close {
        font-size: 20px;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        outline: none;
    }
    .header-area .navbar-toggler .navbar-toggler-icon {
        font-size: 23px;
    }
}

/* =========================
         hero wrap           
============================ */

.hero-wrap {
    position: relative;
    height: 70vh;
    top: -90px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1112.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9;
}

.hero-wrap .hero-item {
    color: var(--bg-color-100);
    text-align: right;
}

.hero-wrap .hero-item h1 {
    margin-top: 130px;
}

.hero-wrap .hero-meta ul li {
    display: inline-block;
    margin-left: 20px;
}

.hero-wrap .hero-meta ul li a {
    padding: 5px 15px;
    color: var(--text-black-900);
    background-color: var(--bg-color-100);
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 32px;
}

.hero-wrap .hero-meta ul li a i {
    margin-left: 5px;
    margin-right: -5px;
    vertical-align: middle;
    color: var(--bg-color-100);
    font-size: 20px;
    border-radius: 5px;
    padding: 7px;
    background-color: var(--skin-color);
    transition: all 0.3s ease;
}

.hero-wrap .hero-meta ul li a:hover i {
    background-color: var(--bg-color-900);
    color: var(--skin-color);
}

/* =========================
         blog area         
============================ */

.blog-area {
    position: relative;
    top: -50px;
}

.blog-area a {
    text-decoration: none;
}

.blog-area .blog_item {
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
    background: var(--bg-color-100);
    transition: .3s all ease;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
}

.blog-area .blog_item .blog-img {
    width: 100%;
    overflow: hidden;
}

.blog-area .blog_item .blog-img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.5s all ease;
}

.blog-area .blog_item .blog-img img:hover {
    transform: rotate(4deg) scale(1.2);
}

.blog-area .blog_item-text {
    padding: 25px;
    padding-right: 5px;
}

.blog-area .blog_item-text h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blog-area .blog_item-text p {
    color: var(--text-gray-700);
    margin-bottom: 30px;
}

.blog-area .blog-more a {
    position: relative;
    color: var(--skin-color);
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.blog-area .blog-more a:hover {
    color: var(--text-black-900);
}

.blog-area .blog-more p {
    font-size: 13px;
    padding-right: 10px;
}

.sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
}

/* ===== search-form ===== */

.blog-area .search-form {
    position: relative;
    margin-top: 50px;
}

.sidebar-box .form-group {
    display: flex;
}

.sidebar-box .form-group input {
    border: none;
    width: 100%;
    background-color: var(--bg-color-100);
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 22px;
    font-size: 14px;
    border-radius: 25px;
}

.sidebar-box .form-group input:focus {
    border: none;
    outline: none;
}

.sidebar-box .form-group button {
    position: absolute;
    left: 10px;
    right: auto;
    top: 5px;
}

.sidebar-box .form-group button i {
    font-size: 30px;
}

/* ===== categories ===== */

.categories li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 40px;
    padding: 10px 20px;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
    background: var(--bg-color-100);
    list-style: none;
    transition: all 0.3s;
}

.categories li a {
    color: var(--text-black-900);
}

.categories li a span {
    position: absolute;
    left: 14px;
    top: 11px;
    color: var(--skin-color);
}

/* ===== block-21 ===== */

.blog-area .block-21 {
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
    background: var(--bg-color-100);
    transition: .3s all ease;
    padding: 15px 20px 0px 20px;
    border-radius: 10px;
}

.blog-area .block-21 .blog-img {
    display: block;
    height: 90px;
    object-fit: cover;
    background-size: cover;
    width: 90px;
    border-radius: 50%;
}

.block-21 .text {
    width: calc(100% - 100px);
    margin-right: 20px;
}

.block-21 .text h3 {
    font-size: 16px;
    line-height: 1.9;
    font-weight: 500;
}

.block-21 .text h3 a {
    color: var(--text-black-900);
    transition: all .3s ease;
}

.block-21 .text h3 a:hover {
    color: var(--skin-color);
}

.block-21 .text .meta p {
    margin-top: -10px;
    margin-left: 5px;
    font-size: 13px;
    color: var(--text-gray-700);
}

/* ===== tagcloud ===== */

.blog-area .tagcloud {
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
    background: var(--bg-color-100);
    transition: .3s all ease;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 10px;
    margin-right: 4px;
    border-radius: 10px;
    color: #000000;
    border: 1px solid var(--nav-color);
    font-size: 15px;
    transition: all 0.3s;
}

.tagcloud a:hover {
    color: var(--skin-color);
}

/* ===== feeds ===== */

.instagram_row {
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
    background: var(--bg-color-100);
    transition: .3s all ease;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    display: flex;
    margin-right: -6px;
    margin-left: -6px;
}

.instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 7px;
}

.instagram_row li a img {
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
}

/* ===== content ===== */

.blog-area .content {
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
    background: var(--bg-color-100);
    transition: .3s all ease;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
}

.content span {
    display: block;
    margin-bottom: 20px;
}

.content span a i {
    color: var(--text-gray-700);
    align-items: center;
    vertical-align: middle;
    margin-left: 10px;
    transition: all .4s ease-in-out;
}

.content span a:hover {
    color: var(--skin-color);
}

.content span a:hover i {
    color: var(--skin-color);
}

.content span a {
    color: var(--text-black-900);
    border-bottom: 1px solid var(--text-gray-700);
}

/* ===== pagination ===== */

.pagination li {
    padding: 3px;
}

.pagination li a {
    padding: 8px 18px;
    border: 1px solid var(--nav-color);
    background-color: var(--bg-color-100);
    color: var(--text-black-900);
    border-radius: 5px;
    transition: all 0.3 ease-in-out;
}

.pagination li a:hover {
    background-color: var(--bg-color-900);
    color: var(--text-black-900);
    border: 1px solid var(--text-gray-700);
}

.pagination .page-item .page-link {
    font-size: 20px;
}

/* =========================
            Footer          
============================ */

.footer {
    position: relative;
    background-color: var(--bg-color-100);
}

.footer a {
    text-decoration: none;
    color: var(--text-black-900);
}

.footer h2 {
    color: var(--text-black-900);
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
}

.footer .ft-about p {
    font-size: 15px;
    color: var(--text-gray-700);
    max-width: 320px;
}

.footer .list-unstyled {
    padding-left: 0px;
    list-style: none;
}

.footer .list-unstyled li {
    margin-bottom: 12px;
}

.footer .list-unstyled li a {
    font-size: 17px;
    color: var(--text-gray-700);
}

.footer .list-unstyled li i {
    margin-left: 10px;
}

.footer .list-unstyled li a:hover {
    color: var(--skin-color);
}

.footer .list-unstyled li a:hover i {
    color: var(--skin-color);
}

.footer .block-23 {
    padding: 0px;
}

.footer .block-23 li {
    margin-bottom: 25px;
}

.footer .block-23 li a {
    font-size: 15px;
    color: var(--text-gray-700);
}

.footer .block-23 li .bx {
    width: 40px;
    font-size: 20px;
    padding-top: 2px;
    vertical-align: top;
    color: var(--skin-color);
}

.footer .block-23 li span {
    display: table-cell;
}

.footer .copy-right p {
    text-align: center;
    font-size: 17px;
}