{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
    <title>شهر ریاضی || ریاضی هشتم</title>
</head>

<body>
    <section class="sub-header">
        <nav>
            <a href="{% url "Home Page" %}"><img src="{% static "img/logo.png" %}" alt="logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                  <li><a href="{% url "Home Page" %}">خانه</a></li>
                  <li><a href="{% url "Video" %}">محتوای ریاضی</a></li>
                  <li><a href="{% url "Education System" %}">حل نمونه سوال</a></li>
                  <li><a href="#">تجاری سازی</a></li>
                  <li><a href="{% url "Stem" %}">استم</a></li>
                  <li><a href="{% url "ai" %}">هوش مصنوعی</a></li>
                </ul>
            </div>
        </nav>
        <h1>فصل پنجم ریاضی هشتم</h1>
    </section>

    <!------------------ blog page content ------------>

    <section class="blog-content">
        <div class="row">
            <div class="blog-left">
                <img src="{% static "img/Eight/Five.png" %}" alt="blog" style="border-radius: 12px; height: 700px;">
                <h2>بردار و مختصات</h2>
                <p>
                    در این فصل شما دانش آموزان گرامی میتوانید به سادگی با استفاده از این فایل ها فصل پنجم ریاضی هشتم را به خوبی یاد بگیرید.
                </p>
                <br>
                <p>
                    مطالبی که یاد میگیرید:
                </p>
                <br>
                <p>
                    1_ جمع بردارها
                </p>
                <br>
                <p>
                    2_ ضرب عدد در بردار
                </p>
                <br>
                <p>
                    3_ بردار های واحد مختصات
                </p>
                <br>



            </div>
            <div class="blog-right">
                <h3>فایل های مرتبط</h3>
                <div style="background-color: #f8e8e8;">
                    <a href="{% url "Eight Section Five pdf" %}">
                        <span>دانلود فایل pdf فصل پنجم ریاضی هشتم</span>
                    </a>
                </div>

                <div style="background-color: #f8e8e8;">
                    <a href="https://www.mathnook.com/teaching-tools/coordinate-grid-2.html">
                        <span> بازی فصل پنجم ریاضی هشتم</span>
                    </a>
                </div>
                <div style="background-color: #f8e8e8;">
                    <a href="https://gama.ir/azmoon/testDetail/WLaUlQ">
                        <span> آزمون فصل پنجم ریاضی هشتم</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static "js/script.js" %}"></script>
</body>

</html>